# Folders
coverage
dist
node_modules

# git
.git
.gitignore
.gitlab-ci.yml

# Unusefull
netlify.toml
README.md

# config fles
.vscode
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmrc

# Docker config
.dockerignore
Dockerfile
docker-compose.yaml
docker-compose_dev.yaml
docker-compose_prod.yaml
