// Media queries
$mid-screens: "only screen and (max-width: 1366px)";
$small-screens: "only screen and (max-width: 667px)";

// FOLDERS HACK

$folder-img: "../images/";

//-- FOLDERS HACK

// MIXINS

// Flex display
@mixin displayFlex {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

// Generic transitions

@mixin genericTransition($tproperty, $tduration, $ttiming, $tdelay) {
  transition: $tproperty $tduration $ttiming $tdelay;
}

//-- MIXINS
